<!-- *ngIf="this.editionService.isSearch" -->
<div class="margin" *ngIf="this.editionService.isSearch">
  <mat-expansion-panel #expansionPanel (click)="scrollToBottom(expansionPanel)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2> {{'layout.police' | translate}} </h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <h3> {{'layout.policesize' | translate}} <input #policeSizeInput type="number" max="50" min="1" value="{{defaultPoliceSize}}" (change)="policeSize= policeSizeInput.value"></h3>
    <h3> {{'layout.policeType' | translate}}</h3>
    <mat-form-field appearance="fill">
      <mat-label>{{'layout.policeType' | translate}}</mat-label>
      <mat-select [(value)]="police">
        <mat-option value="Arial">Arial</mat-option>
        <mat-option value="Karumbi">Karumbi</mat-option>
        <mat-option value="Chilanka">Chilanka</mat-option>
      </mat-select>
    </mat-form-field>
    <h3> {{'layout.policeColor' | translate}} </h3>
    <input [(colorPicker)]="this.editionService.policeColor" [style.background]="this.editionService.policeColor" cpHeight="230px" cpPosition="top-right"/>
    <br>
    <br>
    <h3> {{'layout.Transformation' | translate}} </h3>
    <mat-radio-group>
      <mat-radio-button #aucun (change)="transformation(aucun)" class="margin-right" value="aucun" [checked]="true">{{'layout.none' | translate}}</mat-radio-button>
      <mat-radio-button #minuscule (change)="transformation(minuscule)" class="margin-right" value="minuscule" [checked]="false">{{'layout.lowercase' | translate}}</mat-radio-button>
      <mat-radio-button #majuscule (change)="transformation(majuscule)" class="margin-right" value="majuscule" [checked]="false">{{'layout.uppercase' | translate}}</mat-radio-button>
      <mat-radio-button #capitale (change)="transformation(capitale)" value="capitale" [checked]="false">{{'layout.capital' | translate}}</mat-radio-button>
    </mat-radio-group>
  </mat-expansion-panel>
  <mat-expansion-panel #expansionPanel2 (click)="scrollToBottom(expansionPanel2)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2> {{'layout.border' | translate}} </h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <h3> {{'layout.borderType' | translate}} </h3>
    <mat-form-field appearance="fill">
      <mat-label>{{'layout.borderType' | translate}}</mat-label>
      <mat-select [(value)]="typeOfBorder" style="border-bottom-style: {{typeOfBorder}}">
        <mat-option value="none">{{'layout.none' | translate}}</mat-option>
        <mat-option value="solid"><div class="mat-row" style="border-top-style: solid;"></div></mat-option>
        <mat-option value="dotted"><div style="border-top-style: dotted;"></div></mat-option>
        <mat-option value="dashed"><div style="border-top-style: dashed;"></div></mat-option>
        <mat-option value="double"><div style="border-top-style: double;"></div></mat-option>
      </mat-select>
    </mat-form-field>
    <h3> {{'layout.borderSize' | translate}} <input #borderSizeInput type="number" max="50" min="1" value="{{defaultBorderSize}}" (change)="borderSize= borderSizeInput.value"></h3>
    <h3> {{'layout.borderColor' | translate}} </h3>
    <input [(colorPicker)]="this.editionService.curentBorderColor" [style.background]="this.editionService.curentBorderColor" cpHeight="230px" cpPosition="top-right"/>
    <br>
    <br>
    <h3> {{'layout.writeInPicto' | translate}} </h3>
    <mat-radio-group name="labelPosition">
      <mat-radio-button #dans (change)="wordLocation(dans)" class="margin-right" value="dans" [checked]="true">{{'layout.wordInPicto' | translate}}</mat-radio-button>
      <mat-radio-button #dehors (change)="wordLocation(dehors)" value="dehors" [checked]="false">{{'layout.wordOutPicto' | translate}}</mat-radio-button>
    </mat-radio-group>
    <br>
    <br>
    <mat-radio-group name="labelBottomTop">
      <mat-radio-button #bottom (change)="wordBottomTop(bottom)" class="margin-right" value="bottom" [checked]="true">{{'layout.wordOnPicto' | translate}}</mat-radio-button>
      <mat-radio-button #top (change)="wordBottomTop(top)" value="top" [checked]="false">{{'layout.wordUnderPicto' | translate}}</mat-radio-button>
    </mat-radio-group>
  </mat-expansion-panel>
  <br>
  <br>
  <h2>{{'layout.resultSelection' | translate}}</h2>
  <mat-grid-list cols="7" rowHeight="250px">
    <mat-grid-tile *ngFor="let carousel of this.editionService.result;let index = index">
      <div class="picto">
        <div class="margin-right">
          <div *ngIf="this.editionService.imageSelected[index] == undefined || this.editionService.imageSelected[index] == 'null'">
            <button (click)="inputFile.click()"> {{'layout.addImage' | translate}}
              <input hidden type="file" (change)="onFileSelected($event, index)" #inputFile>
            </button>
          </div>
          <img *ngIf="this.editionService.imageSelected[index] != undefined && this.editionService.imageSelected[index] != 'null'" src="{{this.editionService.imageSelected[index]}}" alt="" height="200px" width="200px">
        </div>
        <div class="labelPicto" *ngIf="transformationValue !== 'capitale' ">
          {{this.editionService.wordsText[index].text}}
        </div>
        <div class="labelPicto" *ngIf="transformationValue === 'capitale' ">
          {{this.editionService.wordsText[index].text | titlecase}}
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <h2>{{'layout.createPDF' | translate}}</h2>
  <mat-radio-group name="pictoPerLine">
    <mat-radio-button #twoPicto (change)="numberOfPictoPerLines(twoPicto)" class="margin-right" value="2" [checked]="true">{{'layout.2picto' | translate}} </mat-radio-button>
    <mat-radio-button #threePicto (change)="numberOfPictoPerLines(threePicto)" class="margin-right" value="3" [checked]="false">{{'layout.3picto' | translate}} </mat-radio-button>
    <mat-radio-button #fourPicto (change)="numberOfPictoPerLines(fourPicto)" class="margin-right" value="4" [checked]="false">{{'layout.4picto' | translate}} </mat-radio-button>
    <mat-radio-button #eightPicto (change)="numberOfPictoPerLines(eightPicto)" value="8" [checked]="false">{{'layout.8picto' | translate}} </mat-radio-button>
  </mat-radio-group>
  <br>
  <br>
  <button mat-raised-button color="primary" (click)="generatePDF()">{{'layout.generatePDF' | translate}}</button>
</div>

